<table border="0" cellpadding="0" cellspacing="0"
    style="max-width:595px;width:100%;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;background-color:#fff;text-align:left"
    align="center">
    <tbody>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td style="padding-right:27px;padding-left:21px">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="padding-left:5px"> <img
                                    src="https://ci6.googleusercontent.com/proxy/33B6lUsSSnedVzRZTR3Itezp7runq1x4L0-kq62DrcPzwm-4sCEBJRGmFrTNisumtjEnqNYMMrLWfun5pnoFyh_spTEedbj5b_64=s0-d-e1-ft#http://static.naver.com/common/ems/nid_dm/nid_201412.gif"
                                    alt="회원정보" width="42" class="CToWUd"> </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="13"></td>
        </tr>
        <tr>
            <td
                style="padding-right:27px;padding-left:18px;line-height:34px;font-size:29px;color:#424240;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                새로운 기기에서<br><span style="color:#08a600">로그인 되었습니다.</span><br> </td>
        </tr>
        <tr>
            <td height="22"></td>
        </tr>
        <tr>
            <td height="1" style="background-color:#e5e5e5"></td>
        </tr>
        <tr>
            <td style="padding-top:24px;padding-right:27px;padding-bottom:32px;padding-left:20px">
                <table border="0" cellpadding="0" cellspacing="0" align="left" width="100%"
                    style="font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                    <tbody>
                        <tr>
                            <td
                                style="font-size:14px;color:#696969;line-height:24px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                회원님의 아이디 <span style="color:#8b680d" th:text="${data}"></span> 이(가) 새로운 기기(브라우저)에서 로그인
                                되었습니다.
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="font-size:12px;color:#696969;line-height:18px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                이 메일은 새로운 기기에서 로그인이 된 경우 발송됩니다.<br> 하나의 기기라도 새로운 브라우저 또는 애플리케이션에서 로그인하면 각각 알림이 발송됩니다.
                            </td>
                        </tr>
                        <tr>
                            <td height="24"></td>
                        </tr>
                        <tr>
                            <td
                                style="font-size:14px;color:#696969;line-height:24px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                <table cellpadding="0" cellspacing="0" style="width:100%;margin:0;padding:0">
                                    <tbody>
                                        <tr>
                                            <td height="23"
                                                style="font-weight:bold;color:#000;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                로그인 정보 </td>
                                        </tr>
                                        <tr>
                                            <td height="2" style="background:#424240"></td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0"
                                                    style="width:100%;margin:0;padding:0">
                                                    <tbody>
                                                        <tr>
                                                            <td width="110"
                                                                style="padding-bottom:5px;color:#696969;line-height:23px;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                                일시 </td>
                                                            <td
                                                                style="padding-bottom:5px;color:#000;line-height:23px;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                                <span style="color:#fbc02d" th:text="${data1}"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="110"
                                                                style="padding-bottom:5px;color:#696969;line-height:23px;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                                타입 </td>
                                                            <td
                                                                style="padding-bottom:5px;color:#000;line-height:23px;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                                <span th:text="${data2}"></span> </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="110"
                                                                style="padding-bottom:5px;color:#696969;line-height:23px;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                                운영체제 </td>
                                                            <td
                                                                style="padding-bottom:5px;color:#000;line-height:23px;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                                <span th:text="${data3}"></span> </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="110"
                                                                style="padding-bottom:5px;color:#696969;line-height:23px;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                                브라우저/앱 </td>
                                                            <td
                                                                style="padding-bottom:5px;color:#000;line-height:23px;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                                <span th:text="${data4}"></span> </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="110"
                                                                style="padding-bottom:5px;color:#696969;line-height:23px;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                                로그인 IP </td>
                                                            <td
                                                                style="padding-bottom:5px;color:#000;line-height:23px;vertical-align:top;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                                                <span th:text="${data5}"></span> </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td height="1" style="background:#d5d5d5"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="24"></td>
                        </tr>
                        <tr>
                            <td
                                style="font-size:14px;color:#696969;line-height:24px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                <strong>1. 로그인 했을 때 알림을 받지 않도록 등록한 기기를 확인하고 관리할 수 있습니다.</strong><br> <a
                                    href="https://nid.naver.com/user2/help/userLoginLog.nhn?m=viewRegistedDevice"
                                    style="color:#fbc02d;text-decoration:underline" target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://nid.naver.com/user2/help/userLoginLog.nhn?m%3DviewRegistedDevice&amp;source=gmail&amp;ust=1595480489467000&amp;usg=AFQjCNE1eWVy2xu-_NrAByTGhHTDOqgnhw">등록한
                                    기기 보기 &gt;</a> </td>
                        </tr>
                        <tr>
                            <td height="24"></td>
                        </tr>
                        <tr>
                            <td
                                style="font-size:14px;color:#696969;line-height:24px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                <strong>2. 직접 로그인한 것이 아니라면 비밀번호를 변경하고 ‘전체 로그아웃’하여<br>타인이 로그인하지 않도록 관리해 주세요.</strong><br>
                                <a href="https://nid.naver.com/user2/help/myInfo.nhn?m=viewChangePasswd&amp;lang=ko_KR"
                                    style="color:#fbc02d;text-decoration:underline" target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://nid.naver.com/user2/help/myInfo.nhn?m%3DviewChangePasswd%26lang%3Dko_KR&amp;source=gmail&amp;ust=1595480489467000&amp;usg=AFQjCNFzhOuRuL5uF9tVi9oSCczIhOocnw">비밀번호
                                    변경하기 &gt;</a> </td>
                        </tr>
                        <tr>
                            <td height="24"></td>
                        </tr>
                        <tr>
                            <td
                                style="font-size:14px;color:#696969;line-height:24px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
                                네이버를 이용해 주셔서 감사합니다.<br> 더욱 편리한 서비스를 제공하기 위해 항상 최선을 다하겠습니다. </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td
                style="padding-top:26px;padding-left:21px;padding-right:21px;padding-bottom:13px;background:#f9f9f9;font-size:12px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;color:#696969;line-height:17px">
                본 메일은 발신전용 입니다. 네이버 서비스관련 궁금하신 사항은 네이버 <a
                    href="https://help.naver.com/support/alias/membership/p.membership/p.membership_26.naver"
                    style="color:#696969;font-weight:bold;text-decoration:underline" target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://help.naver.com/support/alias/membership/p.membership/p.membership_26.naver&amp;source=gmail&amp;ust=1595480489467000&amp;usg=AFQjCNEsAyCVLcwky4RfjQx3tn6f74x2Ig">고객센터</a>에서
                확인해주세요. </td>
        </tr>
        <tr>
            <td
                style="padding-left:21px;padding-right:21px;padding-bottom:57px;background:#f9f9f9;font-size:12px;font-family:Helvetica;color:#696969;line-height:17px">
                Copyright ⓒ <strong>Ondaji</strong> Corp. All Rights Reserved. </td>
        </tr>
    </tbody>
</table>